* {
    margin: 0;
    padding: 0;
    font-family: helvetica, arial, sans-serif;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    font-size: 1em;
    line-height: 1.5em;
}

a:link , a:visited , a:active {
    text-decoration: none;
    transition: .5s;
}

body {
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
}

/* NAV */

header{
    position: relative;
}

nav{
    background-color: rgba(207, 207, 201, 0.706);
    height: 185px;
    width: 100%;
    top: 0;
    left: 0;
}

.enlace{
    position: absolute;
    padding: 0 20px;
}

.logo{
    height: 120px;
    margin-top: 20px;
    margin-left: 20px
}

nav ul{
    float: right;
    margin-right: 10px;
}

nav ul li{
    display: inline-block;
    margin: 50px 0;
}

nav ul li a{
        display: inline-block;
        text-decoration: none;
        width: 120px;
        height: 60px;
        line-height: 60px;
        color: #fff;
        margin-right: 35px;
        background-color: burlywood;
        text-align: center;
        transition: all 300ms ease;
        border-radius: 20px;
}

nav ul li a:hover{
        color: tomato;
}


.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 180px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}


@media (max-width: 1080px){
    .checkbtn{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 150vh;
        text-align: center;
        transition: all .3s;
        background: #130c0c;
        left: -100%;
        top: 185px;
    }
    nav ul li{
        display: block;
        margin: 30px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 16px;
    }
    nav ul li a:hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left: 0;
    }


}


/* FONDO TITULO  */

.bg-primary {
    background-image: url(../assets/image/tarros-miel-panal.jpg);
    background-size: cover;
    background-position: center center;
    height: 85vh;
}

.bg-primary {
    text-shadow: 2px 2px 3px black;
    text-align: center;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* SECTOR CEO */

.container-fluid .p-5 .bg-primary .text-white .text-center {
    padding: 20em;
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
}


.col-sm-4 img {
    padding: 1.5em;
}

.container-mt-5 {
    width: 100%;
    display: flex;
    margin: 5em 0;
}

.row{
    --bs-gutter-x: 0rem;
}


.container-mt-5 .col-sm-4 img{
    width: 100%;
    height: 30em;
    display: inline-block;
}

.container-mt-5 .col-sm-4 h3{
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
    text-indent: 5px;
    letter-spacing: 3px;
    font-size: 2em;
    margin: 1em 0;
}


/* GRID */

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width:330px) {
    .wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5px;
    width: 75%;}
}

.one {
    grid-column: 1 / 1;
    grid-row: 1;
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
    text-indent: 5px;
    letter-spacing: 3px;
    font-size: 2em;
    margin: 1em 0;
}

.two {
    grid-column: 2 / 4;
    grid-row: 1 / 4;
}

.two img{
    width: 90%;
    height: 90%;
}

.three {
    grid-column: 1;
    grid-row: 2 / 5;
}

.five {
    grid-column: 2;
    grid-row: 4;
}
.six {
    grid-column: 3;
    grid-row: 4;
}


/* FORMULARIO */

.form-flex{
    display: flex;
}

.form{
    background-color: white;
    box-shadow: 0 0 30px #130c0c;
    width: 90%;
    max-width: 500px;
    border-radius: 0.5em;
    padding: 1.5em 2em;
    margin: 30px auto;
}

.form-container{
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
    border-radius: 0.5em;
}

.form-title{
    text-align: center;
}

.form-input{
    padding: 1em 1em;
    border: none;
    border: 1px solid #bbb0b0;
    border-radius: 0.5em;
}

.form-input2{
    resize: none;
}

.form-button{
    font-size: 1rem;
    background-color: rgb(193, 191, 158);
    color: #fff;
    border: none;
    padding: 0.5em 0.5em;
    border-radius: .2em;
}

main{
    padding-bottom: 20px;
}

.info .info2{
    padding-top: 30px;
}

.carousel-inner{
    height: 80vh;
}


/* FOOTER */

.pie-de-pagina{
    width: 100%;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.pie-de-pagina .footer1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 120px;
    padding-top: 20px;
}

.pie-de-pagina .footer1 .box figure{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.pie-de-pagina .footer1 .box figure img{
    width: 320px;
    height: 200px;
}

.pie-de-pagina .footer1 .box h4{
    color: #fff;
    font-size: 22px;
}

.pie-de-pagina .footer1 .box li{
    color: #efefef;
    margin-bottom: 10px;    
    line-height: 20px;

}

.pie-de-pagina .footer1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: #fff;
    margin-right: 15px;
    background-color: burlywood;
    text-align: center;
    transition: all 300ms ease;
}

.pie-de-pagina .footer1 .red-social a:hover{
    color: tomato;
}

.pie-de-pagina .footer2{
    padding: 10px 10px;
    text-align: center;
    color: #fff;
}

.pie-de-pagina .footer2 small{
    font-size: 15px;
}

@media screen and (max-width:850px){
    .pie-de-pagina .footer1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 20px 0;
    }
}